html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #eaeaea url('bg.png');
    color: #4d4d4d;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    margin: 0 auto;
    width: 550px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

button,
input[type="checkbox"] {
  outline: none;
}

#todoapp {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.15);
    margin: 130px 0 40px 0;
    position: relative;

    &:before {
        border-left: 1px solid #f5d6d6;
        border-right: 1px solid #f5d6d6;
        content: '';
        height: 100%;
        left: 40px;
        position: absolute;
        top: 0;
        width: 2px;
    }

    input::-webkit-input-placeholder {
        font-style: italic;
    }

    input::-moz-placeholder {
        font-style: italic;
        color: #a9a9a9;
    }

    h1 {
        color: #b3b3b3;
        color: rgba(255, 255, 255, 0.3);
        font-size: 70px;
        font-weight: bold;
        position: absolute;
        text-align: center;
        -webkit-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
        -o-text-rendering: optimizeLegibility;
        text-rendering: optimizeLegibility;
        text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
        top: -120px;
        width: 100%;
    }
}

#header {
    border-radius: inherit;
    padding-top: 15px;

    &:before {
        background: #8d7d77;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
        background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
        background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
        border-bottom: 1px solid #6c615c;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        content: '';
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
        height: 15px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
}

#new-todo,
.edit {
    border: 0;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: 1.4em;
    margin: 0;
    outline: none;
    padding: 6px;
    position: relative;
    width: 100%;
}

#new-todo {
    background: rgba(0, 0, 0, 0.02);
    border: none;
    box-shadow: none;
    padding: 16px 16px 16px 60px;
    z-index: 2;
}

#main {
    border-top: 1px dotted #adadad;
    position: relative;
    z-index: 2;
}

label[for='toggle-all'] {
    display: none;
}

#toggle-all {
    border: none;
    left: -4px;
    position: absolute;
    text-align: center;
    top: -42px;
    width: 40px;

    &:before {
        color: #d9d9d9;
        content: '»';
        font-size: 28px;
        padding: 0 25px 7px;
    }

    &:checked:before {
        color: #737373;
    }
}

#todo-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border-bottom: 1px dotted #ccc;
        font-size: 24px;
        position: relative;

        &:last-child {
            border-bottom: none;
        }

        &.editing {
            border-bottom: none;
            padding: 0;

            &:last-child {
                margin-bottom: -1px;
            }

            .edit {
                display: block;
                margin: 0 0 0 43px;
                padding: 13px 17px 12px 17px;
                width: 506px;
            }

            .view {
                display: none;
            }
        }

        &.completed label {
            color: #a9a9a9;
            text-decoration: line-through;
        }

        &:hover .destroy {
            display: block;
        }

        .toggle {
            border: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            bottom: 0;
            height: auto;
            margin: auto 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 40px;

            &:after {
                color: #d9d9d9;
                content: '✔';
                font-size: 20px;
                line-height: 43px;
                text-shadow: 0 -1px 0 #bfbfbf;
            }

            &:checked:after {
                bottom: 1px;
                color: #85ada7;
                position: relative;
                text-shadow: 0 1px 0 #669991;
            }
        }

        label {
            -webkit-transition: color 0.4s;
            display: block;
            line-height: 1.2;
            margin-left: 45px;
            padding: 15px 60px 15px 15px;
            transition: color 0.4s;
            white-space: pre;
            word-break: break-word;
        }

        .destroy {
            bottom: 0;
            color: #a88a8a;
            display: none;
            font-size: 22px;
            height: 40px;
            margin: auto 0;
            position: absolute;
            right: 10px;
            top: 0;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            width: 40px;

            &:hover {
                text-shadow: 0 0 1px #000,
                             0 0 10px rgba(199, 107, 107, 0.8);
                -webkit-transform: scale(1.3);
                -ms-transform: scale(1.3);
                transform: scale(1.3);
            }

            &:after {
                content: '✖';
            }
        }

        .edit {
            display: none;
        }
    }
}

#footer {
    bottom: -31px;
    color: #777;
    height: 20px;
    left: 0;
    padding: 0 15px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;

    &:before {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
                    0 6px 0 -3px rgba(255, 255, 255, 0.8),
                    0 7px 1px -3px rgba(0, 0, 0, 0.3),
                    0 43px 0 -6px rgba(255, 255, 255, 0.8),
                    0 44px 2px -6px rgba(0, 0, 0, 0.2);
        bottom: 31px;
        content: '';
        height: 50px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

#todo-count {
    float: left;
    text-align: left;
}

#filters {
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;

    li {
        display: inline;

        a {
            color: #83756f;
            margin: 2px;
            text-decoration: none;

            &.selected {
                font-weight: bold;
            }
        }
    }
}

#clear-completed {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    float: right;
    font-size: 11px;
    line-height: 20px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;

    &:hover {
        background: rgba(0, 0, 0, 0.15);
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    }
}

#info {
    color: #a6a6a6;
    font-size: 12px;
    margin: 65px auto 0;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);

    a {
        color: inherit;
    }
}

.hidden {
    display: none;
}

hr {
    border-bottom: 1px dashed #F7F7F7;
    border-top: 1px dashed #C5C5C5;
    border: 0;
    margin: 20px 0;
}

.learn {
    a {
        color: #b83f45;
        font-weight: normal;
        text-decoration: none;

        &:hover {
            color: #787e7e;
            text-decoration: underline;
        }
    }

    h3,
    h4,
    h5 {
        color: #000;
        font-weight: 500;
        line-height: 1.2;
        margin: 10px 0;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
        margin-bottom: 0;
    }

    ul {
        padding: 0;
        margin: 0 0 30px 25px;

        li {
            line-height: 20px;
        }
    }

    p {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.quote {
    border: none;
    margin: 20px 0 60px 0;

    p {
        font-style: italic;

        &:before {
            content: '“';
            font-size: 50px;
            left: 3px;
            opacity: .15;
            position: absolute;
            top: -20px;
        }

        &:after {
            bottom: -42px;
            content: '”';
            font-size: 50px;
            opacity: .15;
            position: absolute;
            right: 3px;
        }
    }

    footer {
        bottom: -40px;
        position: absolute;
        right: 0;

        img {
            border-radius: 3px;
        }

        a {
            margin-left: 5px;
            vertical-align: middle;
        }
    }
}

.speech-bubble {
    background: rgba(0, 0, 0, .04);
    border-radius: 5px;
    padding: 10px;
    position: relative;

    &:after {
        border-top-color: rgba(0, 0, 0, .04);
        border: 13px solid transparent;
        content: '';
        position: absolute;
        right: 30px;
        top: 100%;
    }
}

.learn-bar > .learn {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 5px;
    left: -300px;
    padding: 10px;
    position: absolute;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    top: 8px;
    width: 272px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #toggle-all,
    #todo-list li .toggle {
        background: none;
    }

    #todo-list li .toggle {
        height: 40px;
    }

    #toggle-all {
        -webkit-appearance: none;
        appearance: none;
        height: 41px;
        left: -15px;
        top: -56px;
        width: 65px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@media (min-width: 899px) {
    .learn-bar {
        margin: 0 0 0 300px;
        width: auto;

        > .learn {
            left: 8px;
        }

        #todoapp {
            margin: 130px auto 40px auto;
            width: 550px;
        }
    }
}